section {
  width: 70%;
  margin: 0 auto;
}
header {
  text-align: center;
}

header h1 {
  font-size: 5rem;
  color: #2c3e50;
  font-weight: 500;
  margin: 2rem 0;
}

input {
  font-size: 20px;
  color: #2c3e50;
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #2c3e50;
  padding: 1rem;
  border-radius: 10px;
}

ul {
  padding-inline-start: 0;
}
.task {
  background-color: #34495e;
  padding: 15px;
  margin: 1rem 0;
  overflow-x: hidden;
  border-radius: 5px;
  cursor: pointer;
}

.task span {
  color: #ffffff;
}

.icon {
  float: right;
  margin-right: 20px;
}

article {
  display: grid;
}

.edit-todo {
  width: 85%;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
}

.button {
  margin-right: 1rem;
  padding: 1rem;
  font-size: 20px;
  color: #6c6777;
  background-color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 15px;
}

.button.selected {
  color: #fff;
  background-color: #6c6777;
}
.button.selected:hover {
  color: #fff;
  background-color: #0e0a0a;
  border: 1px solid #6c6777;
}
.button.clear {
  float: right;
  color: #fff;
  background-color: #ee1630;
  width: 170px;
  margin-right: 0;
}
.remove-done-todos {
  color: #ee1630;
  float: right;
}
.form input {
  width: 40%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.form button {
  font-size: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: 1px solid #2c3e50;
  background-color: #34495e;
  color: #fff;
}
.auth-header {
  width: 40%;
  margin: 4rem auto;
  border: 2px solid #2c3e50;
  border-radius: 2rem;
}
.auth-para {
  color: #1636ee;
  cursor: pointer;
}
.auth-para:hover{
  color: #7586ea;
}
.auth-form input {
  margin: 1rem;
  width: 80%;
}
.auth-header h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 600px) {
  section {
    width: 90%;
  }
}
@media screen and (max-width: 600px) {
  .auth-header {
    width: 90%;
  }
}
